.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
}

.icon {
  color: white;
  height: 2rem;
  width: 2rem;
  margin: 1rem;
  /* justify-self: flex-start; */
  /* justify-self: flex-end; */
}

.home {
  flex-grow: 1;
  /* display: flex; */
}

.description {
  margin: 1rem min(12rem, 20%);
  text-align: justify;
}
